.idea/
.vscode/

frontend/node_modules

frontend/dist/
frontend/.angular/
frontend/out-tsc/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

.DS_Store
Thumbs.db
